#addUser
{
    border-style: solid;
    width: 325px;
    padding: 1%;
    margin-bottom: 20px;
}

#position
{
    position: relative;
    left: 40%;
}

#addBtn
{
    background-color: khaki;
    float: right;
}

#cancel
{
    background-color: khaki;
    float: right;
}