<div id="parentdiv2">

    <!--Tasks-->
    <div>
        <span>Tasks - User {{userData.name}}</span> <input type="button" value="Add" id="addBtn" (click)="gotoAddTask()">
    </div>

    <div>
        <app-main-task [userTasks]='userData.tasks!'></app-main-task>
    </div>

    <br>

    <!--Posts-->
    <div>
        <span>Posts - User {{userData.name}}</span> <input type="button" value="Add" id="addBtn" (click)="gotoAddPost()">
    </div>

    <div>
        <app-main-post [userPosts]='userData.posts!'></app-main-post>
    </div>
    
</div>
