#newPost
{
    width: 325px;
    padding: 10%;
}


#addBtn
{
    background-color: khaki;
    float: right;
}


#cancel
{
    background-color: khaki;
    float: right;
}

#addDiv
{
    border-style: solid;
    border-color: black;
    margin-top: 1%;
    padding: 10%;
}

#taskComp
{
    padding-top: 2%;
}
